wget
tensorboard
scikit-learn
seqeval
psutil
sacrebleu
rouge-score
tensorflow_datasets
pytorch-lightning==0.8.5
matplotlib
git-python==1.0.3
faiss-cpu ##faiss-gpu
streamlit
elasticsearch
pandas
nlp
pytest
gitpython
requests
filelock
tqdm
tokenizers
wandb
#do this based on your os:refer pytorch home page
#conda install pytorch torchvision torchaudio -c pytorch
ipython
wget
nltk
stop-words
sentencepiece
sacremoses
tensorboard
scikit-learn
seqeval
psutil
sacrebleu
rouge-score
tensorflow_datasets
matplotlib
pandas
wandb
