wget
tensorboard
scikit-learn
seqeval
psutil
sacrebleu
rouge-score
tensorflow_datasets
pytorch-lightning==0.8.5
matplotlib
git-python==1.0.3
faiss-cpu ##faiss-gpu
streamlit
elasticsearch
pandas
nlp
tensorflow
pytest
gitpython
requests
filelock
tqdm
tokenizers
wandb
#conda install pytorch torchvision torchaudio -c pytorch
ipython
wget
nltk
